/* Main elements of the page */

body
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: rgb(255, 247, 217);
    font-size: 24;
}

#main_wrapper
{
    width: 900px;
    margin: auto;
}


/* Header */
.osel
{
    text-align: center;
}

.odkazy
{
    text-align: right;

}

/* Banner */
#footer
{
width: 800px;
    margin: 0px auto -1px auto;
    padding: 15px;
    height:170px;
    }

.tweet
{
    float: left;
    display: inline-block;
}

.my_pictures
{
  display: inline-block;
}

.my_friends
{
width: 350px;
    height:150px;
    right:-5px;
    top: -20px;
    float:right;
}

h3
{
  text-align: center
}
/* Body */
